<header>
    <section class="header">
        <article class="header__social">
            <a href="{{ site.github }}" target="_blank"><i class="fab fa-github"></i></a>
            <a href="{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:{{ site.email }}" target="_blank"><i class="fas fa-envelope-open"></i></a>
        </article>
        <article class="header__page">
            <h3><strong><a href="/">{{page.page-name}}</a></strong></h3>
        </article>
    </section>
</header>