@keyframes color-box-fadein {
    0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}
@keyframes color-box-fadeout {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}


@keyframes ola-fadein {
    0% {
        opacity: 0;
        margin-top: -10rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes ola-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        //opacity: 0;
        margin-left: -35%;
    }
}

@keyframes scroll-arrow {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 1rem;
    }
}


@keyframes default-fadein {
    0% {
        opacity: 0;
        margin-left: -1rem;
    }
    100% {
        opacity: 1;
        margin-left: 0rem;
    }
}
@keyframes default-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}