@keyframes color-box-fadein {
    0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}

@keyframes ola-fadein {
    0% {
        opacity: 0;
        margin-top: -10rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}