@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    font-family: 'Montserrat', sans-serif;
}

.ola {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation-name: ola-fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;

    &__text{
        font-size: 15rem;
        font-weight: 700;
    }

    span {
        color: $white-color;
    }
}