.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-color: $background-color;
    top: 0;
    left: 0;
    border: 3rem solid $white-color;

    &__view {
        position: relative;
        width: 100%;
        height: 100%;
    }
}