.menu {

    &__button {
        width: 25px;
        position: absolute;
        display: block;
        top:1rem;
        right: 1rem;
        z-index: 105;
        cursor: pointer;
        opacity: 0;
        animation-name: ola-fadein;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        transition: all 0.2s ease-out;
    

        &-line {
            width: 25px;
            height: 2px;
            margin: 0 0 6px;
            float: right;
            transition: all 0.2s ease-in-out;

            &--black {background-color: $black-color;}
            &--white {background-color: $white-color;}
        }

        &.close{
            transform: rotate(180deg);

            .menu__button-line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -7px);
                }
            }
        }
    }

    &__nav {
        position: absolute;
        transform: translate(150%,-50%);
        top: 50%;
        right: 2%;
        text-align: right;
        z-index: 1004;
        padding-right: 0.5rem;
        list-style: none;
        font-size: 2rem;
        font-weight: 700;
        border-right: 0.6rem solid $tertiary-color;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        opacity: 0;


        &-item {
            margin-bottom: 1rem;
            transition: background-color 0.5s;

            &:hover {
                background-color: $tertiary-color;
                cursor: pointer;
            }

        }

        &--portfolio {
            top: 30%;
        }

        &.show{
            visibility: visible;
            transform: translate(0%, -50%);
            opacity: 1;
        }


    }

}