.menu {

    &__button {
        height: 3rem;
        width: 3rem;
        position: absolute;
        display: block;
        top:1rem;
        right: 1rem;
        z-index: 101;
        cursor: pointer;
        opacity: 0;
        animation-name: ola-fadein;
        animation-name: ola-fadein;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        &-line {
            width: 3rem;
            height: 0.2rem;
            margin: 0 0 0.5rem;
            float: right;
            transition: all 0.3s ease-in-out;

            &--black {background-color: $black-color;}
            &--white {background-color: $white-color;}
        }

        :nth-child(odd){
            width: 2.2rem;
        }

        :hover > &-line {
            width: 3rem;
        }
    }

    &__nav {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 2%;
        text-align: right;
        z-index: 1004;
        padding-right: 0.5rem;
        opacity: 0;
        list-style: none;
        font-size: 2rem;
        font-weight: 700;
        border-right: 0.6rem solid $tertiary-color;
        animation-name: default-fadein;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;


        &-item {
            margin-bottom: 1rem;
            transition: all 1s;

            &:hover {
                background-color: $tertiary-color;
                cursor: pointer;
            }

        }

        &--portfolio {
            top: 30%;
        }


    }

}