@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

html, body {
    margin:0;
    /*background: #69327F;*/
    height: 100%;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background: rgba(0, 0, 0, 0.9)
}


.container {
    width: 40%;
    height:400px;
    margin: auto;
    position:fixed;
    top:0; bottom:0; left:0; right:0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #404040;
    text-align: center;
}

h1 {
    font-size:18px;
    color:#000;
    display: block;
    font-weight: normal;
    margin-bottom:0;
    margin-top: 10px;
}

li {
    text-transform: none;
}

.subtitle {
    font-size:14px;
}

.profile-pic{
    margin: 0 auto;
    width:150px;
    border-radius: 50%;
    margin-top:20px;
    box-shadow: 0px 0px 6px #000;

}

/*contact section*/
.contact {
    border-bottom: #ccc 0.1px solid;
    padding-bottom: 20px;
    width:90%;
    margin: 0 auto;
    margin-top:20px;
} 
.contact a {
    color: #404040;
    font-size: 1.5em;
    transition: color 0.3s linear;
    margin-right: 15px;
    margin-left: 15px;
}

a:hover {
    color:#7F7F7F;
    transition: color 0.3s linear;
}


/*blog section of box*/
.blog {
    margin-top:40px;
}

.blog a{
    font-size: 1.2em;
}

.blog-btn {
    color: #000;
    padding: 0.5em 1em;
    border: #000 0.5px solid;
    border-radius: 30px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    transition: all 0.3s linear;
}

.blog-btn:hover {
    background-color: #404040;
    color: #fff;
    border-color: #404040;
    transition: all 0.3s linear;
    text-decoration: none;
}

/*MODAL*/
.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-content{
    width: 60%;
    height:450px;
    margin: auto;
    position:fixed;
    top:0; bottom:0; left:0; right:0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #404040;
    text-align: left;
    padding: 30px;
    line-height: 1.4em;
    overflow: hidden;
}

.close-btn{
    float: right;
    color: #7F7F7F;
    font-size: 3em;
    margin-top: 10px;
}
.close-btn:hover{
    cursor: pointer;
    color: #000;

}

.modal-header h2{
    color: #404040;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.modal-footer {
   width: 170px;
   margin: 30px auto auto auto;
}

/*blog posts modal*/
.modal-items h3{
    display: inline-block;
    font-weight: 400;

}
.modal-items a{
    display: inline-block;
    text-decoration: none;
    color: #404040
}
.modal-items a:hover{
    color: #000;
}

.modal-items span{
    color: #7f7f7f
}




/*RESPONSIVE MEDIA QUERYS*/
@media (max-width:850px){
    .container {
        width: 80%;
    }
    .modal-content {
        width: 75%;
        font-size: 0.8em;
    }
    .modal-footer {
        margin: 0 auto;
        margin-top: 20px;
    }

    .modal-items a{
        font-size: 0.9em;
    }
}

@media (max-width: 700px){
    .modal-footer {
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 70px;
    }
}

@media (max-width: 737px){
    .modal-footer {
        margin: 0 auto;
        margin-top: 40px;
        margin-left: 90px;
    }
    .modal-items a{
        font-size: 0.8em;
    }
}

@media (max-width: 668px){
    .modal-footer {
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 75px;
    }
    .modal-items a{
        font-size: 0.9em;
    }
}

@media (max-width: 600px){
    .modal-footer {
        margin-top: 40px;
        margin-left: 150px;
    }
    .modal-items a{
        font-size: 0.9em;
    }
}

@media (max-width: 320px){
    .blog a {
        font-size: 1em;
    }
    .modal-content {
        width: 65%;
    }
    .modal-footer {
        margin-left: 40px;
        margin-top: 20px;
    }
    .modal-body p {
        font-size: 0.8em;
    }
}

@media (max-width: 360px){
    .modal-footer {
        margin-left: 70px;
        margin-top: 20px;
    }
    .modal-body p {
        font-size: 0.9em;
    }
}

@media (max-width: 768px){
    .modal-footer {
        margin-top: 50px;
    }
}

@media (width: 412px){
    .modal-footer {
        margin-left: 85px;
    }
}

@media (width: 320px){
    .modal-body p {
        font-size: 0.8em;
    }
    .modal-footer {
        margin-left: 40px;
        margin-top: 30px;
    }
}

@media (width: 375px){
    .modal-footer {
        margin-left: 75px;
        margin-top: 30px;
    }
}

@media (max-width: 414px){
    .modal-footer {
        margin-left: 85px;
        margin-top: 30px;
    }
}
