$primary-color: #FFC300;
$secondary-color: #FE5851;
$tertiary-color: #C90034;
$quaternary-color: #92083D;
$quinary-color: #5A1645;
$background-color: #f7F7F7;
$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$default-font-size: 1.6rem;