.content-box {
    width: 75%;
    height: 100%;
    padding: 1rem;
    position: relative;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0;
    animation: default-fadein .5s ease-in-out 1s forwards;

    @include responsive(phone){
        width: 84%;
    }


    &__image {
        img {
            width: 15%;
            border-radius: 50%;
            border: 0.5rem solid $black-color;
            transition: all 0.5s;
            filter: grayscale(70%);

            @include responsive(phone){
                width: 50%;
            }

            &:hover {
                border: 0.5rem solid $tertiary-color;
                filter: grayscale(20%);
            }
        }
    }

    &__text {
        width: 60%;

        @include responsive(tab-port){
            width: 90%;
        }
        @include responsive(phone){
            width: 100%;
        }

        p {
            margin-top: 1rem;
            line-height: 1.3em;
        }
    }

    &__posts {
        width: 100%;
        margin-top: 4rem;
        margin-left: 0.5rem;

        article {
            margin-bottom: 2rem;

            a {
                transition: all .2s;
                &:hover {
                    color: $secondary-color;
                }
            }
        }

        span {
            color: $quinary-color;
        }

    }

    &__slider {
        width: 100%;
    }

}