.project-item {
    width: 48%;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

    @include responsive(phone){
        width: 100%
    }

    &__image {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__title {
        margin-top: 1rem;
        color: $primary-color;
        text-align: center;
        width: 100%;
        height: 2.5em;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    &--active {
        height: 25rem;
    }

    &--white {
        background-color: $quinary-color;
    }

    &:nth-child(odd){
        margin-right: 2%;
    }

}