.color-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary-color;

    &--opening {
        width: 100%;
        animation-name: color-box-fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &--full {
        animation-name: color-box-fadeout;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &--menu {

    }
}