.content-box {
    width: 76%;
    height: 100%;
    padding: 2rem;
    position: relative;
    float: left;
    overflow: scroll;
    overflow-x: hidden;

    &__title {
        position: absolute;
        transform: rotate(-90deg);
        right: -19%;
        top: 40%;
        display: block;
    }
}