.intro {
    color: $black-color;
    position: absolute;
    left: 4%;
    bottom: 20%;
    font-weight: 700;
    z-index: 103;
    opacity: 0;

    &__text > p {
        font-size: 4rem;
    }

    &__name {
        color: $white-color;
    }

    &__title {
        display: block;
        height: 5rem;
        padding: 0 0.3rem;
        color: $black-color;
        margin-top: 0.5rem;

        & > span {
            border-right: 0.4rem solid $black-color;
            animation-name: default-fadeout;
            animation-duration: 0.6s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }

    &--show {
        animation-name: default-fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
}