---
layout: default
---

{% include header.html %}

<section class="container">
    {% include nav-white.html %}
    
    <section class="content-box">
        <section class="content-box__image">
            <img src="/assets/img/photo.jpg" alt="foto do rosto de Felipe S">
        </section>
        <section class="content-box__text">
            <h1 class="font-sm">Felipe Gustavo</h1>
            <h2>Desenvolvedor Front-end</h2>
            <p>
                Eu sou um desenvolvedor front-end júnior com foco em me desenvolver na criação de web apps e UI. 
                Como programador estou em busca constante de melhores práticas e conhecimento. 
                Gosto de aprender coisas novas, me interesso por javascript, React.js e seu ecossistema, design de interface/UX 
                e Test-Driven Development.
            </p>
            <br>
            <h3 class="font-xs">Habilidades:</h3>
            <p>
                HTML 5;<br>
                CSS 3 (sass/scss); Responsive Design; <br>
                Javascript (ES6+, JQuery); <br>
                React.js (redux, react-router, hooks); <br>
                Automatizadores (Gulp, Webpack, npm);<br> 
                Git, GitHub; <br>
                Test-Driven Development (Mocha, Chai).<br>
            </p>
        </section>

    </section>

    <section class="color-box color-box--quinary-color color-box--page"></section>

</section>

