---
layout: default
---

<section class="container">
    {% include nav-black.html %}
    
    <section class="content-box"></section>

        <article class="ola ola--show">
            <p class="ola__text">Olá<span>.</span></p>
        </article>
        
        <article class="scroll-arrow">
            <span class="scroll-arrow__text">scroll</span>
            <span class="scroll-arrow__arrow">&#8595;</span>
        </article>

        <article class="intro">
            <p class="intro__text">
                eu sou <span class="intro__name">&lt;Felipe  &frasl; &gt;,</span> um<br>
                <span class="intro__title" data-wait="3000" data-words='["desenvolvedor front-end.","desenvolvedor web.", "programador júnior."]'></span>
            </p>
        </article>

    <section class="home color-box color-box--secondary-color color-box--opening"></section>

</section>

{% include home-scripts.html %}