header {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%
}

.header {
    position: relative;
    width: 100%;
    height: 100%;

    &__social {
        display: inline-block;
        position: absolute;
        transform: translate(-90%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: default-fadein 0.4s ease-in-out 2.5s forwards;

        a {
            display: inline;
            font-size: 1.5rem;
            color: $black-color;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            transition: all 0.5s;

            &:hover {
                color: $tertiary-color;
            }
        }

    }

}